* {
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
}

/* header */

header {
    display: flex;
    justify-content: space-between;
    padding: 0 160px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
}

.logo img {
    height: 96px;
    width: auto;
}

.logo {
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    gap: 30px;
    padding-top: 64px;
}

nav a {
    color: black;
    text-decoration: none;
    font-weight: 600;
    margin-left: 16px;
}

nav a:hover {
    color: rgb(0, 128, 0);
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-thickness: 5px;
}

.start {
    color: rgb(0, 128, 0);
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-thickness: 5px;
}

/* regular content */

main {
    min-height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

button {
    background-color: rgb(0, 128, 0);
    border: none;
    color: white;
    width: 160px;
    height: 48px;
}

h1 {
    font-size: 48px;
    margin: 0;
}

h2 {
    margin: 0;
    font-size: 28px;
    font-weight: 600;
}

p {
    font-size: 16px;
    line-height: 1.6;
    color: #555555;
}

/* footer */

footer {
    background-color: rgb(35, 35, 35);
    display: flex;
    justify-content: space-between;
    padding: 40px 160px;
}

footer img {
    width: 200px;
    height: 60px;
    margin-left: 32px;
}

.social_media img:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

.logo_weiß {
    filter: invert(1);
}

@media (max-width: 767px) {
    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 28px;
    }

    /* Media Query Header*/

    header {
        padding: 0 10px;
    }

    .logo img {
        height: 35px;
    }

    /* Footer Query Header*/

    footer {
        padding: 50px 10px;
    }

    .logo_weiß img {
        height: 35px;
        width: auto;
    }

    .social_media img {
        height: 20px;
    }
}




@media (min-width: 768px) and (max-width: 1280px) {

    /* Media Query Header*/

    header {
        padding: 0 60px;
    }

    .logo img {
        height: 80px;
    }

    /* Footer Query Header*/

    footer {
        padding: 50px 40px;
    }

     .social_media img {
        height: 30px;
        margin-left: 10px
    }
}