* {
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
}

/* header */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
    height: 100px;
}

.site-container {
    max-width: 1440px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.logo img {
    height: 80px;
    width: auto;
}

.logo {
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: end;
    margin: 0;
}

nav a {
    color: black;
    text-decoration: none;
    font-weight: 600;
}

nav a:hover {
    text-decoration: underline;
    text-decoration-color: rgb(0, 128, 0);
    text-underline-offset: 8px;
    text-decoration-thickness: 5px;
}

.burger_container {
    display: none;
}

.resp_menu_box {
    display: none;
}

.underline {
    text-decoration: underline;
    text-decoration-color: rgb(0, 128, 0);
    text-underline-offset: 8px;
    text-decoration-thickness: 5px;
}


/* regular content */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

button {
    background-color: rgb(0, 128, 0);
    border: none;
    color: white;
    width: 160px;
    height: 48px;
    cursor: pointer;
}

h1 {
    font-size: 48px;
    margin: 0;
}

h2 {
    margin: 0;
    font-size: 28px;
    font-weight: 600;
}

p {
    font-size: 16px;
    line-height: 1.6;
    color: #555555;
}

/* footer */

footer {
    background-color: rgb(35, 35, 35);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

footer img {
    width: 200px;
    height: 60px;
}

.social_media {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.social_media img {
    height: 35px;
    width: auto;
}

.social_media img:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

.logo_weiß {
    filter: invert(1);
}

@media (max-width: 767px) {
    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 28px;
    }

    /* Footer Query Header*/

    header {
        padding: 0 20px;
    }

    .logo img {
        height: 70px;
        width: auto;
    }

    footer {
        flex-direction: column;
    }

    .logo_weiß img {
        height: 50px;
        width: auto;
    }

    footer .site-container {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .social_media img {
        height: 24px;
        width: auto;
    }
}


@media (min-width: 768px) and (max-width: 1280px) {

    /* Footer Query Header*/

    footer img {
        margin-left: 0;
    }

    .social_media {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}

@media(min-width: 320px) and (max-width: 767px) {

    /* Media Query Header */

    nav a {
        display: none;
    }

    .burger_container {
        display: flex;
        align-items: center;
    }

    .burger_menu {
        display: flex;
        width: 35px;
        height: 5px;
        background-color: black;
        margin: 6px 0;
    }

    .resp_menu_box {
        background-color: rgb(230, 230, 230);
        display: flex;
        flex-direction: column;
        width: 200px;
        height: 200px;
        position: absolute;
        right: 0;
        transition: all 250ms ease-in-out;
    }

    .resp_menu_box a {
        display: flex;
        padding:8px 16px;
        text-decoration: none;
        color: black;
        font-weight: 600;
    }

    .resp_menu_box .resp_underline{
        text-decoration: underline;
         text-decoration-color: rgb(0, 128, 0);
        text-underline-offset: 8px;
        text-decoration-thickness: 5px;
    }

    .resp_menu_box a:hover {
        text-decoration: underline;
        text-decoration-color: rgb(0, 128, 0);
        text-underline-offset: 8px;
        text-decoration-thickness: 5px;
    }

    .resp_menu_closed {
        transform: translateX(100%);
    }

    .content {
        min-height: 100vh;
        position: relative;
        overflow-x: hidden;
    }
}

@media (min-width: 767px) and (max-width: 1460px) {

    header {
        padding: 0 20px;
    }
    
    footer {
        padding: 20px 20px;
    }
}