/* Contact Sytles */

.contact-content {


    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 35px;
    background-color: rgb(214, 214, 214);
    border-radius: 12px;
    padding: 15px;;
}

input {
    height: 30px;
    width: 100%;
    border-radius: 6px;
    border: 0;
}

.inputs p {
    margin: 0;
}

textarea {
    height: 300px;
    width: 100%;
    padding: 0;
    border-radius: 6px;
    border: 0;
    resize: none;
}

.contact-button {
    display: flex;
    justify-content: center;
}

@media (max-width: 550px) {
    .contact-content {
        width: 85%;
    }

}